@import url('https://fonts.googleapis.com/css?family=Arsenal|Days+One|Magra');

*{
  margin: 0;
}

html{
  height:100%;
  background-color: #B5B83D;
}

header{
  border-bottom: 2px solid #6B6A6B;
  margin-top: 30px;
  padding-bottom: 25px;
}

.botones{
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  outline: none;
  border: 0;
}
.botones:hover{
  background-color: #B5B83D;
  color: #FFFFFF;

}
.estilo{
  font-family: 'Magra', sans-serif;
  font-size: 25px;
  margin-left: 25px;
  margin-top: 30px;
  background-color: #B5B83D;
  border: #FFFFFF;
}

#logo{
  width: 25% ;
  display: inline-block;
  margin-left: 5%;
}

#navegador{
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-right: 25px;
}

#primera_pantalla{
  background-image: url("./img/fondo_cypher2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 191vh;
  background-position: 61px -59px;
}

#slogan{
  float: right;
  margin-right: 24%;
  margin-top: 35vh;
}

#slogan1{
  font-size: 56px;
  font-family: 'Days One', sans-serif;
  color: white;
}
#slogan2{
  font-size: 56px;
  font-family: 'Days One', sans-serif;
  text-align: center;
}

.hide{
  display: none;
}

#formulario{
  position: relative;
  top: 47px;
  left: 32%;

}

#parrafocodedecode{
  font-size: 21px;
}

#bottomcdr{
  position: relative;
  top: 380px;
  left: 18%
}

.espacio{
  display: block;
  margin-top: 20px;
  width: 291%;
  height: 46px;
  font-size: 17px;
  font-family: 'Arsenal', sans-serif;
  text-align: center;
  outline: none;
  border: 0;
}

.estilo2{
  font-family: 'Arsenal', sans-serif;
  background-color: #FFFFFF;
  font-size: 18px;
  margin-left: 37px;
  width: 138px;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  outline: none;
  border: 0;
}

.botones2:hover{
  background-color: #0A0A0A;
  color: white;
}

.container{
  display: inline;
  border-radius: 5px;
  background-color: #DADADA;
  position: relative;
  left: 183px;

}
