@import url('https://fonts.googleapis.com/css?family=Arsenal|Days+One|Magra');

*{
  margin: 0;
}

html{
  height:100%;
  background-color: #B5B83D;
}

header{
  border-bottom: 2px solid #6B6A6B;
  margin-top: 30px;
  padding-bottom: 25px;
}

.botones{
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  outline: none;
  border: 0;
}

.botones:hover{
  background-color: #B5B83D;
  color: #FFFFFF;

}

.estilo{
  font-family: 'Magra', sans-serif;
  font-size: 25px;
  margin-left: 25px;
  margin-top: 30px;
  background-color: #B5B83D;
  border: #FFFFFF;
}

#logo{
  width: 25% ;
  display: inline-block;
  margin-left: 5%;
}

#navegador{
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-right: 25px;
}

#primera_pantalla{
  background-image: url("./img/fondo_cypher2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 191vh;
  background-position: 61px -59px;
}

#slogan{
  float: right;
  margin-right: 24%;
  margin-top: 35vh;
}

#slogan1{
  font-size: 56px;
  font-family: 'Days One', sans-serif;
  color: white;
}

#slogan2{
  font-size: 56px;
  font-family: 'Days One', sans-serif;
  text-align: center;
}

.hide{
  display: none;
}

#formulario{
  position: relative;
  top: 34px;
  left: 32%;
  width: 160px;

}

.parrafocodedecode{
  font-size: 21px;
}

#bottomcdr{
  position: relative;
  top: 418px;
  left: 20%;
}

.espacio{
  display: block;
  margin-top: 8px;
  width: 291%;
  height: 46px;
  font-size: 17px;
  font-family: 'Arsenal', sans-serif;
  text-align: center;
  outline: none;
  border: 0;
  border-radius: 19px;
}

.estilo2{
  font-family: 'Arsenal', sans-serif;
  background-color: #FFFFFF;
  font-size: 18px;
  margin-left: 23px;
  width: 138px;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  outline: none;
  border: 0;
}

.botones2:hover{
  background-color: #0A0A0A;
  color: white;
}

.container{
  background-color: #D5D5D5;
  display: inline-grid;
  border-radius: 5px;
  position: relative;
  left: 648px;
  top: 63px;
  width: 36%;
  height: 409px;
}

.form{
  position: absolute;
  display: inline-grid;
  width: 100%;
  padding-left: 163px;
}

.formulario2{
  font-family: 'Magra', sans-serif;
  font-weight: bold;
  font-size: 12px;
  width: 61%;
  border-radius: 2px;
  margin-top: 14px;
  height: 28px;
  background-color: #FFFFFF;
  outline: none;
  border: 0;
}

.ancho{
  height: 112px;
}

.lab1{
  font-family: 'Magra', sans-serif;
  font-weight: bold;
  position: relative;
  bottom: -37px;
  left: -128px;
}

.botonForm{
  position: relative;
  top: 88%;
  left: 79px;
}

#formulario_contacto{
  background-image: url("./img/info.png");
  background-repeat: no-repeat;
  height: 51vh;
  width: 60vh;
  position: relative;
  bottom: -72px;
  right: 470px;
  background-size: contain;
  background-position: center;
}

.textArea{
  font-family: 'Arsenal', sans-serif;
  font-size: 22px;
  text-align: justify;
}

.tamano{
  position: relative;
  bottom: -73px;
  left: 17%;
  width: 353px;
  height: 206px;
}

.tamano2{
  position: relative;
  right: -31%;
  bottom: -67px;
  width: 448px;
}

.encabezado{
  color: #FFFFFF;
  text-align: center;
}
